# 1. 设置默认编译目标
[build]
# 告诉 Cargo，默认情况下要编译成 riscv64imac 架构。
target = "riscv64imac-unknown-none-elf"

# 2. 针对特定目标的编译参数（Rustflags）
[target.riscv64imac-unknown-none-elf]
rustflags = [
    # "-C" 表示传递参数给底层的编译器（rustc）
    # "link-arg=-Tsrc/linker.ld" 告诉编译器：
    # “在链接阶段，请务必使用 src/linker.ld 这个脚本作为内存布局的地图。”
    "-C", "link-arg=-Tsrc/linker.ld"
]
